<div class="search-box-wrapper">
	<input type="text" class="search-box-input" placeholder="Buscar...">
	<button class="search-box-button">
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	</button>
	<button class="document-box-button">Pesquisar com documento</button> 
</div>
